<!doctype html>
<html>
<head>
    <title>Welcome to Express JS Using EJS</title>
    <link rel="stylesheet"" href="/stylesheets/style.css"> </link>   
</head>
<body>
    Welcome to <%= title %>
    <p> See more at: http://www.embeddedjs.com/ 
</body>
</html>